{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content%}
    <div class="entry-list">
        {% if entries %}
            {% for entry in entries %}
            <article>
                <h2><a href="detail.html">{{ entry.title }}</a></h2>
                <time datetime="2016-01-31">{{ entry.date.strftime('%Y-%m-%d')}}</time>
                <br>
                {% if entry.get_tags() %}
                    {% for tag in entry.get_tags() %}
                        <a href="{{ url_for('index', tag=tag)}}" class="button">{{ tag.tag }}</a>
                    {% endfor %}
                {% endif %}
            </article>
            {% endfor %}
            {% if page > 1 %}
              <a href="./?page={{ page - 1 }}">Prev</a>
            {% endif %}
            {% if page < pagination.get_page_count() %}
              <a href="./?page={{ page + 1 }}">Next</a>
            {% endif %}
        {% else %}
            <p>No entries found!</p>
        {% endif %}
    </div>
{% endblock %}
